@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Source+Sans+Pro&display=swap");

:root {
  --text-color: #333;
  --link-color: #a3f;
  --link-color_hover: #33f;
  --accent-color: #33f;
  --background-color: #eee;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: x-large;
  padding: 0 0 0.5em 0;
}

.player-container {
  width: 84vw;
  max-width: 1080px;
  height: auto;
  margin: 80px auto 40px auto;
}

.btn-reload {
  display: block;
  margin: 50px auto 0px auto;
  border: none;
  background: none;
  color: var(--accent-color);
  font-size: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn-reload:hover {
  transform: scale(1.5);
  transition-duration: 0.2s;
}

.vjs-matrix .vjs-play-progress {
  background-color: var(--accent-color);
}

.vjs-matrix .vjs-big-play-button {
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  border-radius: 90px;
}

.metadata__header {
  display: inline;
  padding-right: 0.3em;
  font-size: 16px;
  color: var(--accent-color);
}

.metadata {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid var(--accent-color);
  line-height: 1.5em;
}

footer {
  background: var(--accent-color);
  color: var(--background-color);
  height: 4em;
  width: 100%;

  position: fixed;
  bottom: 0;
}

.footer__content {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}