@font-face {
  font-family: "Lack-regular";
  font-style: normal;
  font-display: swap;
  src: local("Lack-regular"),
    url("/fonts/Lack/Lack-Regular.woff2") format("woff2"),
    url("/fonts/Lack/Lack-Regular.woff") format("woff");
}

@font-face {
  font-family: "Karrik-regular";
  font-style: normal;
  font-display: swap;
  src: local("Karrik-regular"),
    url("/fonts/Karrik/Karrik-Regular.woff2") format("woff2"),
    url("/fonts/Karrik/Karrik-Regular.woff") format("woff");
}

:root {
  --text-color: #333;
  --accent-color: #33f;
  --background-color: #eee;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lack-regular", sans-serif;
}

main {
  width: 80vw;
  max-width: 1080px;
  margin: 0 auto 10rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karrik-regular", serif;
}

a {
  color: var(--text-color);
}

.title {
  font-family: "Karrik-regular", serif;
  font-size: 2rem;
  margin: 0;
  padding: 0 0 0.5em 0;
}

.player-container {
  width: 100%;
  height: auto;
  margin: 3rem auto 3rem auto;
}

.btn-reload {
  display: block;
  margin: 50px auto 0px auto;
  border: none;
  background: none;
  color: var(--accent-color);
  font-size: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn-reload:hover {
  transform: scale(1.5);
  transition-duration: 0.2s;
}

.vjs-matrix .vjs-play-progress {
  background-color: var(--accent-color);
}

.vjs-matrix .vjs-big-play-button {
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  border-radius: 90px;
}

.metadata__header {
  margin: 0.5em 0;
  font-size: 1.3rem;
  color: var(--accent-color);
}

.metadata {
  padding: 1em;
  border: 1px solid var(--accent-color);
  font-size: 0.8rem;
}

footer {
  background: var(--accent-color);
  color: var(--background-color);
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
}

.footer__content {
  font-size: 0.8rem;
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.link__archive {
  color: var(--background-color);
}

.title__header {
  display: inline-block;
  width: 4rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
