@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Source+Sans+Pro&display=swap");

:root {
  --text-color: #333;
  --link-color: #a3f;
  --link-color_hover: #33f;
  --accent-color: #33f;
}

body {
  box-sizing: border-box;
  background-color: #fff;
  color: var(--text-color);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

#loading {
  text-align: center;
  position: absolute;
  font-size: 40px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-container {
  width: 84vw;
  max-width: 1080px;
  height: auto;
  margin: 80px auto 40px auto;
}

/* .video-js {
  opacity: 0;
} */

.btn {
  margin: 50px 10px 0px 10px;
  border: 1px solid var(--accent-color);
  padding: 2em 1em;
  background: none;
  color: var(--accent-color);
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  color: #00f;
  border-color: #00f;
  transition-duration: 0.1s;
}

.btn-reload {
  display: block;
  margin: 50px auto 0px auto;
  border: none;
  background: none;
  color: var(--accent-color);
  font-size: 40px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn-reload:hover {
  transform: scale(1.5);
  transition-duration: 0.2s;
}

.vjs-matrix .vjs-play-progress {
  background-color: var(--accent-color);
}

.vjs-matrix .vjs-big-play-button {
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  border-radius: 90px;
}

.metadata__header {
  display: inline;
  padding-right: 0.3em;
  font-size: 16px;
  color: var(--accent-color);
}

.metadata {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em 1em;
  border: 1px solid #333;
  line-height: 1.5em;
}
