@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  background-color: #00c;
  font-family: "Recursive", sans-serif;
  color: #eee;
}

.player-container {
  width: 80vw;
  height: 60vw;
  max-height: 60vh;
  margin: 50px auto;
}

.player-title {
  padding: 40px 0;
  line-height: 1.5em;
}

iframe {
  width: 100%;
  height: 100%;
}

#loading {
  text-align: center;
  font-size: 40px;
  margin: 200px 0 0 0;
}

.btn {
  border: none;
  padding: 1em 2em;
  display: block;
  margin: 180px auto;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 90px;
  color: #00c;
  transition-duration: 0.1s;
}

.btn:hover {
  transform: scale(1.05);
  transition-duration: 0.1s;
}
