@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap");

body {
  box-sizing: border-box;
  background-color: #00c;
  font-family: "Recursive", sans-serif;
  color: #eee;
}

.player-container {
  width: 80vw;
  max-width: 1080px;
  height: auto;
  margin: 50px auto 50px auto;
}

.player-title {
  padding: 40px 0;
  line-height: 1.5em;
}

#loading {
  text-align: center;
  font-size: 40px;
  margin: 200px 0 0 0;
}

.btn {
  display: block;
  padding: 0.8em 1.1em;
  margin: 0 auto;
  border: none;
  font-family: "Recursive", sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
  border-radius: 90px;
  color: #00c;
  transition-duration: 0.2s;
  opacity: 0;
}

.btn:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.video-js {
  opacity: 0;
}

.add-opacity {
  opacity: 1;
}
